## pandas输入和输出（一）

### 比较常用的读写 csv excel 数据库

In [36]:
from faker import Faker
fake = Faker('zh_CN')

In [37]:
import pandas as pd
df=pd.DataFrame(data=[ [fake.name(),fake.company(),fake.numerify(),'空格 空格2 空格3'] for x in range(10) ],columns=['user','company','number','空格列'])

In [38]:
df #生成的测试数据来演示

  user       company number         空格列
0  赵桂荣    同兴万点网络有限公司    972  空格 空格2 空格3
1   黄波      快讯信息有限公司    152  空格 空格2 空格3
2  史雪梅  惠派国际公司科技有限公司    476  空格 空格2 空格3
3   李柳      富罳信息有限公司    089  空格 空格2 空格3
4  吴建军      创亿传媒有限公司    367  空格 空格2 空格3
5   萧鹏      天益科技有限公司    029  空格 空格2 空格3
6   刘健      快讯科技有限公司    311  空格 空格2 空格3
7  雷桂芝      和泰科技有限公司    703  空格 空格2 空格3
8  舒玉华    菊风公司网络有限公司    109  空格 空格2 空格3
9   马琳    昂歌信息传媒有限公司    560  空格 空格2 空格3

In [41]:
df.to_csv('demo.csv',index=False) # 保存成csv

In [42]:
pd.read_csv('demo.csv') # 读取刚才保存的csv数据文件。
# 注意现在有个索引列，最左边的那列。并不需要.    通过刚才的调整，保存csv时没有保存索引列（index=False）

  user       company  number         空格列
0  赵桂荣    同兴万点网络有限公司     972  空格 空格2 空格3
1   黄波      快讯信息有限公司     152  空格 空格2 空格3
2  史雪梅  惠派国际公司科技有限公司     476  空格 空格2 空格3
3   李柳      富罳信息有限公司      89  空格 空格2 空格3
4  吴建军      创亿传媒有限公司     367  空格 空格2 空格3
5   萧鹏      天益科技有限公司      29  空格 空格2 空格3
6   刘健      快讯科技有限公司     311  空格 空格2 空格3
7  雷桂芝      和泰科技有限公司     703  空格 空格2 空格3
8  舒玉华    菊风公司网络有限公司     109  空格 空格2 空格3
9   马琳    昂歌信息传媒有限公司     560  空格 空格2 空格3

In [46]:
df.to_excel('demo.xlsx',index=False) # 保存成excel

In [47]:
pd.read_excel('demo.xlsx') # 读取刚刚保存的excel
# 类似保存csv时，去掉了索引列（index=False）

  user       company  number         空格列
0  赵桂荣    同兴万点网络有限公司     972  空格 空格2 空格3
1   黄波      快讯信息有限公司     152  空格 空格2 空格3
2  史雪梅  惠派国际公司科技有限公司     476  空格 空格2 空格3
3   李柳      富罳信息有限公司      89  空格 空格2 空格3
4  吴建军      创亿传媒有限公司     367  空格 空格2 空格3
5   萧鹏      天益科技有限公司      29  空格 空格2 空格3
6   刘健      快讯科技有限公司     311  空格 空格2 空格3
7  雷桂芝      和泰科技有限公司     703  空格 空格2 空格3
8  舒玉华    菊风公司网络有限公司     109  空格 空格2 空格3
9   马琳    昂歌信息传媒有限公司     560  空格 空格2 空格3

In [54]:
'''
此处是读取数据库的数据。
因创建数据库表和修改账号权限需要的步骤略多，稍微复杂。故利用已经创建好的演示数据库进行测试。简单演示pandas相关功能
'''

import pyodbc
conn=pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER=127.0.0.1;DATABASE=python演示数据库;UID=demo;PWD=Data.Universe689') # 可对应替换成自己数据库的相关参数

sql="select * from pd_to_sql"
df= pd.read_sql(sql, conn)
df

   user      company number         空格列
0   银红梅     群英传媒有限公司    530  空格 空格2 空格3
1   吴春梅   商软冠联科技有限公司    457  空格 空格2 空格3
2    雷燕  数字100网络有限公司    368  空格 空格2 空格3
3    曹楠     良诺网络有限公司    104  空格 空格2 空格3
4    林成   华远软件传媒有限公司    406  空格 空格2 空格3
5   袁建平     精芯科技有限公司    942  空格 空格2 空格3
6    刘涛     和泰科技有限公司    187  空格 空格2 空格3
7   易玉英  晖来计算机科技有限公司    299  空格 空格2 空格3
8    向璐     良诺传媒有限公司    935  空格 空格2 空格3
9   陈秀荣   方正科技科技有限公司    495  空格 空格2 空格3
10  银红梅     群英传媒有限公司    530  空格 空格2 空格3
11  银红梅     群英传媒有限公司    530  空格 空格2 空格3
12  吴春梅   商软冠联科技有限公司    457  空格 空格2 空格3
13   雷燕  数字100网络有限公司    368  空格 空格2 空格3
14   曹楠     良诺网络有限公司    104  空格 空格2 空格3
15   林成   华远软件传媒有限公司    406  空格 空格2 空格3
16  袁建平     精芯科技有限公司    942  空格 空格2 空格3
17   刘涛     和泰科技有限公司    187  空格 空格2 空格3
18  易玉英  晖来计算机科技有限公司    299  空格 空格2 空格3
19   向璐     良诺传媒有限公司    935  空格 空格2 空格3
20  陈秀荣   方正科技科技有限公司    495  空格 空格2 空格3
21  银红梅     群英传媒有限公司    530  空格 空格2 空格3

In [55]:
len(df) # 行数增加，说明写入数据成功

22

In [53]:
'''
演示pandas将数据写入指定的数据库表中。
同样，利用已经创建好的数据库演示
'''
from sqlalchemy import create_engine
engine = create_engine("mssql+pyodbc://demo:Data.Universe689@127.0.0.1:1433/python演示数据库?driver=SQL Server Native Client 11.0") # 本行以及下一行参数可自行替换，需要数据库的相关基础知识
df.to_sql(name='pd_to_sql',con=engine,if_exists='append',index=False,schema='python演示数据库.dbo')