## 170 读写excel更多操作

###   to_excel read_excel 更多操作：表名称 编码 多表格

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

In [2]:
df

  dept dept 1 name    销售额         时间
0  部门1   小部门1   施超   4639 2020-01-01
1  部门1    NaN   徐旭  51174 2020-01-02
2  部门1   小部门2   姜欣  12826 2020-01-03
3  部门1   小部门2  鄢玉英  71562 2020-01-04
4  部门1   小部门2   郭文   2535 2020-01-05
5  部门2   小部门3  仇丽丽  50255 2020-01-06
6  部门2   小部门4   王娟  23831 2020-01-07
7  部门2   小部门4  袁凤兰  64312 2020-01-08
8  部门2   小部门4  朱秀荣  68090 2020-01-09
9  部门2   小部门4  邢丽华  72130 2020-01-10

In [31]:
with pd.ExcelWriter('demo_multi.xlsx') as writer:
    df.to_excel(writer,sheet_name='table1',index=False,encoding='gbk')
    df[:5].copy().to_excel(writer,sheet_name='table2',index=False,encoding='gbk')

In [43]:
pd.read_excel('demo_multi.xlsx',sheet_name=['table2','table1'])['table2'] # 依次读取多个表，并获取某个名字的表

  dept dept 1 name    销售额         时间
0  部门1   小部门1   施超   4639 2020-01-01
1  部门1    NaN   徐旭  51174 2020-01-02
2  部门1   小部门2   姜欣  12826 2020-01-03
3  部门1   小部门2  鄢玉英  71562 2020-01-04
4  部门1   小部门2   郭文   2535 2020-01-05

In [41]:
pd.read_excel('demo_multi.xlsx',sheet_name=['table2','table1']).keys() # # 依次读取多个表的表格名称

dict_keys(['table2', 'table1'])

In [38]:
pd.read_excel('demo_multi.xlsx') # 默认读取第一个位置的表

  dept dept 1 name    销售额         时间
0  部门1   小部门1   施超   4639 2020-01-01
1  部门1    NaN   徐旭  51174 2020-01-02
2  部门1   小部门2   姜欣  12826 2020-01-03
3  部门1   小部门2  鄢玉英  71562 2020-01-04
4  部门1   小部门2   郭文   2535 2020-01-05
5  部门2   小部门3  仇丽丽  50255 2020-01-06
6  部门2   小部门4   王娟  23831 2020-01-07
7  部门2   小部门4  袁凤兰  64312 2020-01-08
8  部门2   小部门4  朱秀荣  68090 2020-01-09
9  部门2   小部门4  邢丽华  72130 2020-01-10

In [37]:
pd.read_excel('demo_multi.xlsx',sheet_name=['table2','table1'])

{'table2':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05,
 'table1':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05
 5  部门2   小部门3  仇丽丽  50255 2020-01-06
 6  部门2   小部门4   王娟  23831 2020-01-07
 7  部门2   小部门4  袁凤兰  64312 2020-01-08
 8  部门2   小部门4  朱秀荣  68090 2020-01-09
 9  部门2   小部门4  邢丽华  72130 2020-01-10}

In [36]:
pd.read_excel('demo_multi.xlsx',sheet_name=['table2',0])

{'table2':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05,
 0:   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05
 5  部门2   小部门3  仇丽丽  50255 2020-01-06
 6  部门2   小部门4   王娟  23831 2020-01-07
 7  部门2   小部门4  袁凤兰  64312 2020-01-08
 8  部门2   小部门4  朱秀荣  68090 2020-01-09
 9  部门2   小部门4  邢丽华  72130 2020-01-10}

In [34]:
pd.read_excel('demo_multi.xlsx',sheet_name=['table2'])

{'table2':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05}

In [32]:
pd.read_excel('demo_multi.xlsx',sheet_name=None) # sheet_name :None 读取所有表格

{'table1':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05
 5  部门2   小部门3  仇丽丽  50255 2020-01-06
 6  部门2   小部门4   王娟  23831 2020-01-07
 7  部门2   小部门4  袁凤兰  64312 2020-01-08
 8  部门2   小部门4  朱秀荣  68090 2020-01-09
 9  部门2   小部门4  邢丽华  72130 2020-01-10,
 'table2':   dept dept 1 name    销售额         时间
 0  部门1   小部门1   施超   4639 2020-01-01
 1  部门1    NaN   徐旭  51174 2020-01-02
 2  部门1   小部门2   姜欣  12826 2020-01-03
 3  部门1   小部门2  鄢玉英  71562 2020-01-04
 4  部门1   小部门2   郭文   2535 2020-01-05}

In [22]:
df.to_excel('demo.xlsx',sheet_name='demo',encoding='gbk',index=False,engine='openpyxl') # sheet_name 保存的表格的名称 ；encoding 编码  ，index 是否保存索引

In [21]:
pd.read_excel('demo.xlsx',sheet_name='demo',index_col=False) # index_col 设置索引

  dept dept 1 name    销售额         时间
0  部门1   小部门1   施超   4639 2020-01-01
1  部门1    NaN   徐旭  51174 2020-01-02
2  部门1   小部门2   姜欣  12826 2020-01-03
3  部门1   小部门2  鄢玉英  71562 2020-01-04
4  部门1   小部门2   郭文   2535 2020-01-05
5  部门2   小部门3  仇丽丽  50255 2020-01-06
6  部门2   小部门4   王娟  23831 2020-01-07
7  部门2   小部门4  袁凤兰  64312 2020-01-08
8  部门2   小部门4  朱秀荣  68090 2020-01-09
9  部门2   小部门4  邢丽华  72130 2020-01-10

In [19]:
pd.read_excel('demo.xlsx',sheet_name='demo',index_col='dept') # index_col 设置索引

     dept 1 name    销售额         时间
dept
部门1    小部门1   施超   4639 2020-01-01
部门1     NaN   徐旭  51174 2020-01-02
部门1    小部门2   姜欣  12826 2020-01-03
部门1    小部门2  鄢玉英  71562 2020-01-04
部门1    小部门2   郭文   2535 2020-01-05
部门2    小部门3  仇丽丽  50255 2020-01-06
部门2    小部门4   王娟  23831 2020-01-07
部门2    小部门4  袁凤兰  64312 2020-01-08
部门2    小部门4  朱秀荣  68090 2020-01-09
部门2    小部门4  邢丽华  72130 2020-01-10

In [18]:
pd.read_excel('demo.xlsx',sheet_name='demo',index_col=[0,1]) # index_col 设置索引

            name    销售额         时间
dept dept 1
部门1  小部门1     施超   4639 2020-01-01
     小部门1     徐旭  51174 2020-01-02
     小部门2     姜欣  12826 2020-01-03
     小部门2    鄢玉英  71562 2020-01-04
     小部门2     郭文   2535 2020-01-05
部门2  小部门3    仇丽丽  50255 2020-01-06
     小部门4     王娟  23831 2020-01-07
     小部门4    袁凤兰  64312 2020-01-08
     小部门4    朱秀荣  68090 2020-01-09
     小部门4    邢丽华  72130 2020-01-10

In [14]:
pd.read_excel('demo.xlsx',sheet_name='demo',index_col=0) # 读取的表格的名称

     dept 1 name    销售额         时间
dept
部门1    小部门1   施超   4639 2020-01-01
部门1     NaN   徐旭  51174 2020-01-02
部门1    小部门2   姜欣  12826 2020-01-03
部门1    小部门2  鄢玉英  71562 2020-01-04
部门1    小部门2   郭文   2535 2020-01-05
部门2    小部门3  仇丽丽  50255 2020-01-06
部门2    小部门4   王娟  23831 2020-01-07
部门2    小部门4  袁凤兰  64312 2020-01-08
部门2    小部门4  朱秀荣  68090 2020-01-09
部门2    小部门4  邢丽华  72130 2020-01-10