##  pandas表格合并

### 表格合并
#### join merge

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额
0  部门1   郭梅  49007
1  部门1  李桂芝  57739
2  部门1   陈艳  31109
3  部门1   冉斌  62613
4  部门1   祝强  38644
5  部门2  孙丽华  41374
6  部门2   张雪  99818
7  部门2   何健  54065
8  部门2   田玲  92155
9  部门2   王阳  37632

In [5]:
df1=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name1'])
df1['销售额']=np.random.randint(100,100000,size=(10, 1))
df1.insert(0,'dept',['部门1']*5+['部门2']*5)

In [6]:
df1  # 随机生成的数据

  dept name1    销售额
0  部门1    李云  99682
1  部门1    胡文   4366
2  部门1    陈帆  53806
3  部门1    徐建  94692
4  部门1    韩鑫    116
5  部门2    龚娟  35080
6  部门2    谢帆  22342
7  部门2   梅建国  14101
8  部门2    高洁  58292
9  部门2    孙洋  30443

In [9]:
df.join(df1,lsuffix='_l',rsuffix='_r') # 两个表格合并，如果列名相同需要指定 后缀

  dept_l name  销售额_l dept_r name1  销售额_r
0    部门1   郭梅  49007    部门1    李云  99682
1    部门1  李桂芝  57739    部门1    胡文   4366
2    部门1   陈艳  31109    部门1    陈帆  53806
3    部门1   冉斌  62613    部门1    徐建  94692
4    部门1   祝强  38644    部门1    韩鑫    116
5    部门2  孙丽华  41374    部门2    龚娟  35080
6    部门2   张雪  99818    部门2    谢帆  22342
7    部门2   何健  54065    部门2   梅建国  14101
8    部门2   田玲  92155    部门2    高洁  58292
9    部门2   王阳  37632    部门2    孙洋  30443

In [12]:
df.merge(df1,how='left',left_on='dept',right_on='dept') # 两个表格合并，类似SQL 语句 的合并方式，可以指定 连接方式how ，连接on的列名（left_on 和 right_on）

   dept name  销售额_x name1  销售额_y
0   部门1   郭梅  49007    李云  99682
1   部门1   郭梅  49007    胡文   4366
2   部门1   郭梅  49007    陈帆  53806
3   部门1   郭梅  49007    徐建  94692
4   部门1   郭梅  49007    韩鑫    116
5   部门1  李桂芝  57739    李云  99682
6   部门1  李桂芝  57739    胡文   4366
7   部门1  李桂芝  57739    陈帆  53806
8   部门1  李桂芝  57739    徐建  94692
9   部门1  李桂芝  57739    韩鑫    116
10  部门1   陈艳  31109    李云  99682
11  部门1   陈艳  31109    胡文   4366
12  部门1   陈艳  31109    陈帆  53806
13  部门1   陈艳  31109    徐建  94692
14  部门1   陈艳  31109    韩鑫    116
15  部门1   冉斌  62613    李云  99682
16  部门1   冉斌  62613    胡文   4366
17  部门1   冉斌  62613    陈帆  53806
18  部门1   冉斌  62613    徐建  94692
19  部门1   冉斌  62613    韩鑫    116
20  部门1   祝强  38644    李云  99682
21  部门1   祝强  38644    胡文   4366
22  部门1   祝强  38644    陈帆  53806
23  部门1   祝强  38644    徐建  94692
24  部门1   祝强  38644    韩鑫    116
25  部门2  孙丽华  41374    龚娟  35080
26  部门2  孙丽华  41374    谢帆  22342
27  部门2  孙丽华  41374   梅建国  14101
28  部门2  孙丽华  41374    高洁  58292
29  部门2  孙丽华  41374    孙洋  30443
30  部门2   张雪  99818    龚娟  35080
31  部门2   张雪  99818    谢帆  22342
32  部门2   张雪  99818   梅建国  14101
33  部门2   张雪  99818    高洁  58292
34  部门2   张雪  99818    孙洋  30443
35  部门2   何健  54065    龚娟  35080
36  部门2   何健  54065    谢帆  22342
37  部门2   何健  54065   梅建国  14101
38  部门2   何健  54065    高洁  58292
39  部门2   何健  54065    孙洋  30443
40  部门2   田玲  92155    龚娟  35080
41  部门2   田玲  92155    谢帆  22342
42  部门2   田玲  92155   梅建国  14101
43  部门2   田玲  92155    高洁  58292
44  部门2   田玲  92155    孙洋  30443
45  部门2   王阳  37632    龚娟  35080
46  部门2   王阳  37632    谢帆  22342
47  部门2   王阳  37632   梅建国  14101
48  部门2   王阳  37632    高洁  58292
49  部门2   王阳  37632    孙洋  30443