## 51 pandas数据抽样（二）

### 数据抽样进阶
#### sample 上采样 抽取可重复结果 抽取固定 按照权重抽样

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))
df['权重']=([0.2]+[.0])*5

In [3]:
df # 随机生成的数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
1  部门1   黄丽  45614   5   0.9   20   721  0.0
2  部门1   徐莹  95067   1   0.7  639   769  0.2
3  部门1   欧凯  97381   1   0.9  104    30  0.0
4  部门1  位春梅  45000   2   0.7  497    68  0.2
5  部门2   郭东  82445   7   0.9  357   705  0.0
6  部门2   黎柳  15330   4   0.7  507   557  0.2
7  部门2   王婷  61492   1   0.8  486   218  0.0
8  部门2   王洁  34694   5   0.7  956   738  0.2
9  部门2   谭刚  55530   5   0.8  480   330  0.0

In [31]:
df.sample(frac=.6,weights='权重',replace=1) # 按照权重列的权重采样。上采样。需要结果中可以重复出现数据。注意权重大于零的有五个，所以需要考虑是否允许重复数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
2  部门1   徐莹  95067   1   0.7  639   769  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
8  部门2   王洁  34694   5   0.7  956   738  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
6  部门2   黎柳  15330   4   0.7  507   557  0.2

In [26]:
df.sample(frac=2,weights='权重',replace=1) # 按照权重列的权重采样。上采样。需要结果中可以重复出现数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
6  部门2   黎柳  15330   4   0.7  507   557  0.2
8  部门2   王洁  34694   5   0.7  956   738  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
8  部门2   王洁  34694   5   0.7  956   738  0.2
8  部门2   王洁  34694   5   0.7  956   738  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
6  部门2   黎柳  15330   4   0.7  507   557  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
6  部门2   黎柳  15330   4   0.7  507   557  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
2  部门1   徐莹  95067   1   0.7  639   769  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2

In [24]:
df.sample(frac=2,replace=1) # 上采样。需要结果中可以重复出现数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
8  部门2   王洁  34694   5   0.7  956   738  0.2
4  部门1  位春梅  45000   2   0.7  497    68  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
5  部门2   郭东  82445   7   0.9  357   705  0.0
4  部门1  位春梅  45000   2   0.7  497    68  0.2
0  部门1  刘玉兰  70542   3   0.7  404   120  0.2
3  部门1   欧凯  97381   1   0.9  104    30  0.0
9  部门2   谭刚  55530   5   0.8  480   330  0.0
2  部门1   徐莹  95067   1   0.7  639   769  0.2
9  部门2   谭刚  55530   5   0.8  480   330  0.0
3  部门1   欧凯  97381   1   0.9  104    30  0.0
2  部门1   徐莹  95067   1   0.7  639   769  0.2
9  部门2   谭刚  55530   5   0.8  480   330  0.0
4  部门1  位春梅  45000   2   0.7  497    68  0.2
7  部门2   王婷  61492   1   0.8  486   218  0.0
1  部门1   黄丽  45614   5   0.9   20   721  0.0
3  部门1   欧凯  97381   1   0.9  104    30  0.0
2  部门1   徐莹  95067   1   0.7  639   769  0.2
7  部门2   王婷  61492   1   0.8  486   218  0.0

In [22]:
df.sample(n=3,replace=0) # 一次结果中不可以出现重复数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
4  部门1  位春梅  45000   2   0.7  497    68  0.2
3  部门1   欧凯  97381   1   0.9  104    30  0.0
8  部门2   王洁  34694   5   0.7  956   738  0.2

In [16]:
df.sample(n=3,replace=1) # 结果中可以出现重复数据

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
7  部门2  王婷  61492   1   0.8  486   218  0.0
7  部门2  王婷  61492   1   0.8  486   218  0.0
2  部门1  徐莹  95067   1   0.7  639   769  0.2

In [13]:
df.sample(n=3,random_state=1) # 抽样结果不变

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
2  部门1  徐莹  95067   1   0.7  639   769  0.2
9  部门2  谭刚  55530   5   0.8  480   330  0.0
6  部门2  黎柳  15330   4   0.7  507   557  0.2

In [6]:
df.sample(n=3) # 普通抽样

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
7  部门2  王婷  61492   1   0.8  486   218  0.0
2  部门1  徐莹  95067   1   0.7  639   769  0.2
6  部门2  黎柳  15330   4   0.7  507   557  0.2