## 55 pandas透视表(二)

### 类似excel透视表，进阶。空值/缺失值/合计列等

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))
df['权重']=([0.2]+[.0])*5
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [3]:
df.loc[0,'销售额']=np.nan

In [4]:
df # 随机生成的数据

    部门 dept1   姓名      销售额  工龄  绩效系数   补贴  请假扣除   权重
0  部门1  小部门1  刘桂兰      NaN   3   0.9  118   270  0.2
1  部门1  小部门1   戴倩  98384.0   4   0.9  694   899  0.0
2  部门1  小部门2   宋想  12998.0   7   0.9  275   873  0.2
3  部门1  小部门2  徐桂芳   8601.0   6   0.8  234   922  0.0
4  部门1  小部门2   李辉  41164.0   5   0.7  183   294  0.2
5  部门2  小部门3   王宇  82620.0   7   0.9  445   182  0.0
6  部门2  小部门4  杨雪梅  27646.0   5   0.8  799   597  0.2
7  部门2  小部门4  马建平  52286.0   7   0.7  483   565  0.0
8  部门2  小部门4  胡丽华  72276.0   2   0.8  975     2  0.2
9  部门2  小部门4  叶秀云  53638.0   9   0.7  159   525  0.0

In [17]:
df.pivot_table(values={'销售额':[np.sum,np.mean],'补贴':[np.sum,np.mean]},index=['部门','dept1'],columns=['姓名']) # 可以指定多个列的指标

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
部门2 小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                      销售额                                              \
姓名           马建平      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
部门  dept1
部门1 小部门1     NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
部门2 小部门3     NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
部门2 小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0

In [15]:
df.pivot_table(values={'销售额':np.sum},index=['部门','dept1'],columns=['姓名']) # 可以利用字典dict自定义列

               销售额                                                       \
姓名             叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅       王宇
部门  dept1
部门1 小部门1       NaN      NaN     NaN  98384.0      NaN      NaN      NaN
    小部门2       NaN  12998.0  8601.0      NaN  41164.0      NaN      NaN
部门2 小部门3       NaN      NaN     NaN      NaN      NaN      NaN  82620.0
    小部门4   53638.0      NaN     NaN      NaN      NaN  27646.0      NaN


姓名             胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN
    小部门2       NaN      NaN
部门2 小部门3       NaN      NaN
    小部门4   72276.0  52286.0

In [12]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value='-',margins=1,margins_name='合计') # 添加合计行/列。设置合计列/行的名字

            补贴                                               ...    销售额  \
姓名         刘桂兰  叶秀云   宋想  徐桂芳   戴倩   李辉  杨雪梅   王宇  胡丽华  马建平  ...    叶秀云
部门  dept1                                                    ...
部门1 小部门1   118    -    -    -  694    -    -    -    -    -  ...      -
    小部门2     -    -  275  234    -  183    -    -    -    -  ...      -
部门2 小部门3     -    -    -    -    -    -    -  445    -    -  ...      -
    小部门4     -  159    -    -    -    -  799    -  975  483  ...  53638
合计           -  159  275  234  694  183  799  445  975  483  ...  53638


姓名            宋想   徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华    马建平       合计
部门  dept1
部门1 小部门1       -     -  98384      -      -      -      -      -    98384
    小部门2   12998  8601      -  41164      -      -      -      -    20921
部门2 小部门3       -     -      -      -      -  82620      -      -    82620
    小部门4       -     -      -      -  27646      -  72276  52286  51461.5
合计         12998  8601  98384  41164  27646  82620  72276  52286    49957

[5 rows x 22 columns]

In [10]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value=0,margins=1) # 添加合计行/列

            补贴                                               ...    销售额  \
姓名         刘桂兰  叶秀云   宋想  徐桂芳   戴倩   李辉  杨雪梅   王宇  胡丽华  马建平  ...    叶秀云
部门  dept1                                                    ...
部门1 小部门1   118    0    0    0  694    0    0    0    0    0  ...      0
    小部门2     0    0  275  234    0  183    0    0    0    0  ...      0
部门2 小部门3     0    0    0    0    0    0    0  445    0    0  ...      0
    小部门4     0  159    0    0    0    0  799    0  975  483  ...  53638
All          0  159  275  234  694  183  799  445  975  483  ...  53638


姓名            宋想   徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华    马建平      All
部门  dept1
部门1 小部门1       0     0  98384      0      0      0      0      0  98384.0
    小部门2   12998  8601      0  41164      0      0      0      0  20921.0
部门2 小部门3       0     0      0      0      0  82620      0      0  82620.0
    小部门4       0     0      0      0  27646      0  72276  52286  51461.5
All        12998  8601  98384  41164  27646  82620  72276  52286  49957.0

[5 rows x 22 columns]

In [9]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],dropna=0) # 是否删除na

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
    小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门4     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
部门2 小部门1     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                 销售额                                                       \
姓名           马建平 刘桂兰      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
部门  dept1
部门1 小部门1     NaN NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
    小部门3     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
部门2 小部门1     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门2     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门3     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0 NaN  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
    小部门3       NaN      NaN      NaN
    小部门4       NaN      NaN      NaN
部门2 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
    小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0

In [7]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value=0) # 将结果的na 使用0填充

            补贴                                              销售额                \
姓名         刘桂兰  叶秀云   宋想  徐桂芳   戴倩   李辉  杨雪梅   王宇  胡丽华  马建平 刘桂兰    叶秀云     宋想
部门  dept1
部门1 小部门1   118    0    0    0  694    0    0    0    0    0   0      0      0
    小部门2     0    0  275  234    0  183    0    0    0    0   0      0  12998
部门2 小部门3     0    0    0    0    0    0    0  445    0    0   0      0      0
    小部门4     0  159    0    0    0    0  799    0  975  483   0  53638      0


姓名          徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华    马建平
部门  dept1
部门1 小部门1      0  98384      0      0      0      0      0
    小部门2   8601      0  41164      0      0      0      0
部门2 小部门3      0      0      0      0  82620      0      0
    小部门4      0      0      0  27646      0  72276  52286

In [5]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1']) # values columns index 可以多列

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
部门2 小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                      销售额                                              \
姓名           马建平      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
部门  dept1
部门1 小部门1     NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
部门2 小部门3     NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
部门2 小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0

In [6]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名','工龄'],index=['部门','dept1']) # values columns index 可以多列。无意义的演示

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
工龄             3      9      7      6      4      5      5      7      2
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
部门2 小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                      销售额                                              \
姓名           马建平      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
工龄             7        9        7       6        4        5        5
部门  dept1
部门1 小部门1     NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
部门2 小部门3     NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
工龄               7        2        7
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
部门2 小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0