## 55 pandas透视表(二)

### 类似excel透视表，进阶。空值/缺失值/合计列等

In [4]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [5]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))
df['权重']=([0.2]+[.0])*5
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [6]:
df.loc[0,'销售额']=np.nan

In [7]:
df # 随机生成的数据

    部门 dept1   姓名      销售额  工龄  绩效系数   补贴  请假扣除   权重
0  部门1  小部门1   向伟      NaN   1   0.7  774   644  0.2
1  部门1  小部门1   杨梅   5964.0   5   0.7  313   552  0.0
2  部门1  小部门2   王晨  98443.0   1   0.7   23   783  0.2
3  部门1  小部门2   王建  62974.0   8   0.7  762    68  0.0
4  部门1  小部门2   詹瑜  79666.0   6   0.9  314   253  0.2
5  部门2  小部门3   张平  16462.0   8   0.8  831   811  0.0
6  部门2  小部门4  陈桂芝   1619.0   1   0.8  682   589  0.2
7  部门2  小部门4   吴林  73914.0   6   0.9  675   341  0.0
8  部门2  小部门4   曲彬  54483.0   8   0.7  281   469  0.2
9  部门2  小部门4   苑萍   5933.0   7   0.7  538   689  0.0

In [8]:
df.pivot_table(values={'销售额':[np.sum,np.mean],'补贴':[np.sum,np.mean]},index=['部门','dept1'],columns=['姓名']) # 可以指定多个列的指标

              补贴                                                         \
姓名            向伟     吴林     张平     曲彬     杨梅     王建    王晨     苑萍     詹瑜
部门  dept1
部门1 小部门1   774.0    NaN    NaN    NaN  313.0    NaN   NaN    NaN    NaN
    小部门2     NaN    NaN    NaN    NaN    NaN  762.0  23.0    NaN  314.0
部门2 小部门3     NaN    NaN  831.0    NaN    NaN    NaN   NaN    NaN    NaN
    小部门4     NaN  675.0    NaN  281.0    NaN    NaN   NaN  538.0    NaN

                      销售额                                                      \
姓名           陈桂芝       吴林       张平       曲彬      杨梅       王建       王晨      苑萍
部门  dept1
部门1 小部门1     NaN      NaN      NaN      NaN  5964.0      NaN      NaN     NaN
    小部门2     NaN      NaN      NaN      NaN     NaN  62974.0  98443.0     NaN
部门2 小部门3     NaN      NaN  16462.0      NaN     NaN      NaN      NaN     NaN
    小部门4   682.0  73914.0      NaN  54483.0     NaN      NaN      NaN  5933.0


姓名              詹瑜     陈桂芝
部门  dept1
部门1 小部门1       NaN     NaN
    小部门2   79666.0     NaN
部门2 小部门3       NaN     NaN
    小部门4       NaN  1619.0

In [9]:
df.pivot_table(values={'销售额':np.sum},index=['部门','dept1'],columns=['姓名']) # 可以利用字典dict自定义列

               销售额                                                      \
姓名              吴林       张平       曲彬      杨梅       王建       王晨      苑萍
部门  dept1
部门1 小部门1       NaN      NaN      NaN  5964.0      NaN      NaN     NaN
    小部门2       NaN      NaN      NaN     NaN  62974.0  98443.0     NaN
部门2 小部门3       NaN  16462.0      NaN     NaN      NaN      NaN     NaN
    小部门4   73914.0      NaN  54483.0     NaN      NaN      NaN  5933.0


姓名              詹瑜     陈桂芝
部门  dept1
部门1 小部门1       NaN     NaN
    小部门2   79666.0     NaN
部门2 小部门3       NaN     NaN
    小部门4       NaN  1619.0

In [25]:
df.pivot_table(values=['销售额'],columns=['dept1'],index=['部门'],fill_value='-',margins=1,margins_name='合计',aggfunc=sum) # 新增：添加合计行/列。设置合计列/行的名字

          销售额
dept1    小部门1      小部门2     小部门3      小部门4        合计
部门
部门1    5964.0  241083.0        -         -  247047.0
部门2         -         -  16462.0  135949.0  152411.0
合计     5964.0  241083.0  16462.0  135949.0  399458.0

In [32]:
df.pivot_table(values=['销售额'],columns=['dept1'],index=['部门'],fill_value='-',margins=1,margins_name='合计/平均',aggfunc=[sum,np.mean]) # 新增：奇特写法。与上面对照

          sum                                           mean           \
          销售额                                            销售额
dept1    小部门1      小部门2     小部门3      小部门4     合计/平均    小部门1     小部门2
部门
部门1    5964.0  241083.0        -         -  247047.0  5964.0  80361.0
部门2         -         -  16462.0  135949.0  152411.0       -        -
合计/平均  5964.0  241083.0  16462.0  135949.0  399458.0  5964.0  80361.0



dept1     小部门3      小部门4         合计/平均
部门
部门1          -         -      61761.75
部门2    16462.0  33987.25       30482.2
合计/平均  16462.0  33987.25  44384.222222

In [26]:
df.pivot_table(values=['销售额'],columns=['dept1'],index=['部门'],fill_value='-',margins=1,margins_name='平均') # 添加合计行/列。设置合计列/行的名字。默认平均

          销售额
dept1    小部门1     小部门2     小部门3      小部门4            平均
部门
部门1    5964.0  80361.0        -         -      61761.75
部门2         -        -  16462.0  33987.25       30482.2
平均     5964.0  80361.0  16462.0  33987.25  44384.222222

In [33]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value='-',margins=1,margins_name='合计',aggfunc=sum) # 添加合计行/列。设置合计列/行的名字

              补贴                                                         \
姓名            向伟     吴林     张平     曲彬     杨梅     王建    王晨     苑萍     詹瑜
部门  dept1
部门1 小部门1   774.0      -      -      -  313.0      -     -      -      -
    小部门2       -      -      -      -      -  762.0  23.0      -  314.0
部门2 小部门3       -      -  831.0      -      -      -     -      -      -
    小部门4       -  675.0      -  281.0      -      -     -  538.0      -
合计             -  675.0  831.0  281.0  313.0  762.0  23.0  538.0  314.0

                  ...      销售额                                              \
姓名           陈桂芝  ...       吴林       张平       曲彬      杨梅       王建       王晨
部门  dept1         ...
部门1 小部门1       -  ...        -        -        -  5964.0        -        -
    小部门2       -  ...        -        -        -       -  62974.0  98443.0
部门2 小部门3       -  ...        -  16462.0        -       -        -        -
    小部门4   682.0  ...  73914.0        -  54483.0       -        -        -
合计         682.0  ...  73914.0  16462.0  54483.0  5964.0  62974.0  98443.0


姓名             苑萍       詹瑜     陈桂芝        合计
部门  dept1
部门1 小部门1        -        -       -    5964.0
    小部门2        -  79666.0       -  241083.0
部门2 小部门3        -        -       -   16462.0
    小部门4   5933.0        -  1619.0  135949.0
合计         5933.0  79666.0  1619.0  399458.0

[5 rows x 22 columns]

In [28]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value='-',margins=1,margins_name='平均',aggfunc=np.mean) # 添加合计行/列。设置合计列/行的名字

              补贴                                                         \
姓名            向伟     吴林     张平     曲彬     杨梅     王建    王晨     苑萍     詹瑜
部门  dept1
部门1 小部门1   774.0      -      -      -  313.0      -     -      -      -
    小部门2       -      -      -      -      -  762.0  23.0      -  314.0
部门2 小部门3       -      -  831.0      -      -      -     -      -      -
    小部门4       -  675.0      -  281.0      -      -     -  538.0      -
平均             -  675.0  831.0  281.0  313.0  762.0  23.0  538.0  314.0

                  ...      销售额                                              \
姓名           陈桂芝  ...       吴林       张平       曲彬      杨梅       王建       王晨
部门  dept1         ...
部门1 小部门1       -  ...        -        -        -  5964.0        -        -
    小部门2       -  ...        -        -        -       -  62974.0  98443.0
部门2 小部门3       -  ...        -  16462.0        -       -        -        -
    小部门4   682.0  ...  73914.0        -  54483.0       -        -        -
平均         682.0  ...  73914.0  16462.0  54483.0  5964.0  62974.0  98443.0


姓名             苑萍       詹瑜     陈桂芝            平均
部门  dept1
部门1 小部门1        -        -       -        5964.0
    小部门2        -  79666.0       -       80361.0
部门2 小部门3        -        -       -       16462.0
    小部门4   5933.0        -  1619.0      33987.25
平均         5933.0  79666.0  1619.0  44384.222222

[5 rows x 22 columns]

In [10]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value=0,margins=1) # 添加合计行/列

            补贴                                               ...    销售额  \
姓名         刘桂兰  叶秀云   宋想  徐桂芳   戴倩   李辉  杨雪梅   王宇  胡丽华  马建平  ...    叶秀云
部门  dept1                                                    ...
部门1 小部门1   118    0    0    0  694    0    0    0    0    0  ...      0
    小部门2     0    0  275  234    0  183    0    0    0    0  ...      0
部门2 小部门3     0    0    0    0    0    0    0  445    0    0  ...      0
    小部门4     0  159    0    0    0    0  799    0  975  483  ...  53638
All          0  159  275  234  694  183  799  445  975  483  ...  53638


姓名            宋想   徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华    马建平      All
部门  dept1
部门1 小部门1       0     0  98384      0      0      0      0      0  98384.0
    小部门2   12998  8601      0  41164      0      0      0      0  20921.0
部门2 小部门3       0     0      0      0      0  82620      0      0  82620.0
    小部门4       0     0      0      0  27646      0  72276  52286  51461.5
All        12998  8601  98384  41164  27646  82620  72276  52286  49957.0

[5 rows x 22 columns]

In [9]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],dropna=0) # 是否删除na

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
    小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门4     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
部门2 小部门1     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
    小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                 销售额                                                       \
姓名           马建平 刘桂兰      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
部门  dept1
部门1 小部门1     NaN NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
    小部门3     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
部门2 小部门1     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门2     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门3     NaN NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0 NaN  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
    小部门3       NaN      NaN      NaN
    小部门4       NaN      NaN      NaN
部门2 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
    小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0

In [7]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1'],fill_value=0) # 将结果的na 使用0填充

            补贴                                              销售额                \
姓名         刘桂兰  叶秀云   宋想  徐桂芳   戴倩   李辉  杨雪梅   王宇  胡丽华  马建平 刘桂兰    叶秀云     宋想
部门  dept1
部门1 小部门1   118    0    0    0  694    0    0    0    0    0   0      0      0
    小部门2     0    0  275  234    0  183    0    0    0    0   0      0  12998
部门2 小部门3     0    0    0    0    0    0    0  445    0    0   0      0      0
    小部门4     0  159    0    0    0    0  799    0  975  483   0  53638      0


姓名          徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华    马建平
部门  dept1
部门1 小部门1      0  98384      0      0      0      0      0
    小部门2   8601      0  41164      0      0      0      0
部门2 小部门3      0      0      0      0  82620      0      0
    小部门4      0      0      0  27646      0  72276  52286

In [5]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名'],index=['部门','dept1']) # values columns index 可以多列

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
部门2 小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                      销售额                                              \
姓名           马建平      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
部门  dept1
部门1 小部门1     NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
部门2 小部门3     NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
部门2 小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0

In [6]:
df.pivot_table(values=['销售额','补贴'],columns=['姓名','工龄'],index=['部门','dept1']) # values columns index 可以多列。无意义的演示

              补贴                                                          \
姓名           刘桂兰    叶秀云     宋想    徐桂芳     戴倩     李辉    杨雪梅     王宇    胡丽华
工龄             3      9      7      6      4      5      5      7      2
部门  dept1
部门1 小部门1   118.0    NaN    NaN    NaN  694.0    NaN    NaN    NaN    NaN
    小部门2     NaN    NaN  275.0  234.0    NaN  183.0    NaN    NaN    NaN
部门2 小部门3     NaN    NaN    NaN    NaN    NaN    NaN    NaN  445.0    NaN
    小部门4     NaN  159.0    NaN    NaN    NaN    NaN  799.0    NaN  975.0

                      销售额                                              \
姓名           马建平      叶秀云       宋想     徐桂芳       戴倩       李辉      杨雪梅
工龄             7        9        7       6        4        5        5
部门  dept1
部门1 小部门1     NaN      NaN      NaN     NaN  98384.0      NaN      NaN
    小部门2     NaN      NaN  12998.0  8601.0      NaN  41164.0      NaN
部门2 小部门3     NaN      NaN      NaN     NaN      NaN      NaN      NaN
    小部门4   483.0  53638.0      NaN     NaN      NaN      NaN  27646.0


姓名              王宇      胡丽华      马建平
工龄               7        2        7
部门  dept1
部门1 小部门1       NaN      NaN      NaN
    小部门2       NaN      NaN      NaN
部门2 小部门3   82620.0      NaN      NaN
    小部门4       NaN  72276.0  52286.0