## 57 pandas交叉表

### crosstab 计算因素的简单的交叉表

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))
df['权重']=([0.2]+[.0])*5
df.insert(1,'dept1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

In [3]:
df # 随机生成的数据

    部门 dept1   姓名    销售额  工龄  绩效系数   补贴  请假扣除   权重
0  部门1  小部门1  李小红  89390   6   0.8  900   282  0.2
1  部门1  小部门1   陈敏  50573   1   0.7  444   456  0.0
2  部门1  小部门2   徐勇  80339   6   0.9   83   122  0.2
3  部门1  小部门2   黄杨  61167   6   0.7  295   669  0.0
4  部门1  小部门2   魏明   7483   3   0.9  183   666  0.2
5  部门2  小部门3  高玉英  99220   4   0.7  735   993  0.0
6  部门2  小部门4  景玉华  68508   8   0.9  959   161  0.2
7  部门2  小部门4  罗建华  63465   9   0.9  519   886  0.0
8  部门2  小部门4   李雷  85387   6   0.9  397   419  0.2
9  部门2  小部门4   王柳  55281   4   0.7   84   428  0.0

In [20]:
pd.crosstab(index=df.部门,columns=df.dept1,rownames=['大部门'],colnames=['小部门'],dropna=0,margins=True,margins_name='合计',normalize='all') 
# 进行占比计算。可以分别按照 行/列 和总体进行计算

小部门  小部门1  小部门2  小部门3  小部门4   合计
大部门
部门1   0.2   0.3   0.0   0.0  0.5
部门2   0.0   0.0   0.1   0.4  0.5
合计    0.2   0.3   0.1   0.4  1.0

In [15]:
pd.crosstab(index=df.部门,columns=df.dept1,rownames=['大部门'],colnames=['小部门'],dropna=0,margins=True,margins_name='合计',normalize=True) 
# 进行占比计算

小部门  小部门1  小部门2  小部门3  小部门4   合计
大部门
部门1   0.2   0.3   0.0   0.0  0.5
部门2   0.0   0.0   0.1   0.4  0.5
合计    0.2   0.3   0.1   0.4  1.0

In [14]:
pd.crosstab(index=df.部门,columns=df.dept1,rownames=['大部门'],colnames=['小部门'],dropna=0,margins=True,margins_name='合计') 
# 加上合计 列/行。自定义 合计 行/列 名字

小部门  小部门1  小部门2  小部门3  小部门4  合计
大部门
部门1     2     3     0     0   5
部门2     0     0     1     4   5
合计      2     3     1     4  10

In [13]:
pd.crosstab(index=df.部门,columns=df.dept1,rownames=['大部门'],colnames=['小部门'],dropna=0,margins=True) 
# 加上合计 列/行

小部门  小部门1  小部门2  小部门3  小部门4  All
大部门
部门1     2     3     0     0    5
部门2     0     0     1     4    5
All     2     3     1     4   10

In [12]:
pd.crosstab(index=df.部门,columns=df.dept1,rownames=['大部门'],colnames=['小部门'],dropna=0) 
# dropna 是否删除 均是nan 的 列

小部门  小部门1  小部门2  小部门3  小部门4
大部门
部门1     2     3     0     0
部门2     0     0     1     4

In [9]:
pd.crosstab(index=[df.部门,df.dept1],columns=['销售额'],values=df.销售额 ,aggfunc=sum, rownames=['大部门','小部门'],colnames=['销售额']) 
# 类似 groupby

销售额          销售额
大部门 小部门
部门1 小部门1  139963
    小部门2  148989
部门2 小部门3   99220
    小部门4  272641

In [5]:
pd.crosstab(df.部门,df.dept1,rownames=['大部门'],colnames=['小部门']) # 一个简单的交叉表，大部门含有 小部门 的个数。指定列名/行头

小部门  小部门1  小部门2  小部门3  小部门4
大部门
部门1     2     3     0     0
部门2     0     0     1     4

In [4]:
pd.crosstab(df.部门,df.dept1) # 一个简单的交叉表，部门含有 dept1 的个数

dept1  小部门1  小部门2  小部门3  小部门4
部门
部门1       2     3     0     0
部门2       0     0     1     4