## 81 assign计算更新列

### assign ：新增列或修改已有列

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 演示数据

In [2]:
df.iloc[0,3]=np.nan #  修改成nan
df.iloc[1,3]=df.iloc[5,3] #  修改成一样

In [3]:
df # 随机生成的数据

  dept dept 1 name      销售额         时间
0  部门1   小部门1  何淑英      NaN 2020-01-01
1  部门1   小部门1  廖兰英  24764.0 2020-01-02
2  部门1   小部门2   吴云  60161.0 2020-01-03
3  部门1   小部门2  梁玉梅   2366.0 2020-01-04
4  部门1   小部门2   张伟   2584.0 2020-01-05
5  部门2   小部门3   张敏  24764.0 2020-01-06
6  部门2   小部门4   陈琳  50445.0 2020-01-07
7  部门2   小部门4   华晶  67482.0 2020-01-08
8  部门2   小部门4   王璐  16523.0 2020-01-09
9  部门2   小部门4  宗秀珍  33419.0 2020-01-10

In [9]:
df.assign(new=df.销售额*2,
         new_1 =df.时间,
         新_3=lambda x:x.new+10000,
         新_4=lambda x:x.dept+x['dept 1'],
         新_5=lambda x:x.dept+x['dept 1']+x.新_3.astype(str),
         时间=1) # 修改已经存在的列

,dept,dept 1,name,销售额,时间,new,new_1,新_3,新_4,新_5
0,部门1,小部门1,何淑英,NaN,1,NaN,2020-01-01,NaN,部门1小部门1,部门1小部门1nan
1,部门1,小部门1,廖兰英,24764.0,1,49528.0,2020-01-02,59528.0,部门1小部门1,部门1小部门159528.0
2,部门1,小部门2,吴云,60161.0,1,120322.0,2020-01-03,130322.0,部门1小部门2,部门1小部门2130322.0
3,部门1,小部门2,梁玉梅,2366.0,1,4732.0,2020-01-04,14732.0,部门1小部门2,部门1小部门214732.0
4,部门1,小部门2,张伟,2584.0,1,5168.0,2020-01-05,15168.0,部门1小部门2,部门1小部门215168.0
5,部门2,小部门3,张敏,24764.0,1,49528.0,2020-01-06,59528.0,部门2小部门3,部门2小部门359528.0
6,部门2,小部门4,陈琳,50445.0,1,100890.0,2020-01-07,110890.0,部门2小部门4,部门2小部门4110890.0
7,部门2,小部门4,华晶,67482.0,1,134964.0,2020-01-08,144964.0,部门2小部门4,部门2小部门4144964.0
8,部门2,小部门4,王璐,16523.0,1,33046.0,2020-01-09,43046.0,部门2小部门4,部门2小部门443046.0
9,部门2,小部门4,宗秀珍,33419.0,1,66838.0,2020-01-10,76838.0,部门2小部门4,部门2小部门476838.0

In [8]:
df.assign(new=df.销售额*2,
         new_1 =df.时间,
         新_3=lambda x:x.new+10000,
         新_4=lambda x:x.dept+x['dept 1'],
         新_5=lambda x:x.dept+x['dept 1']+x.新_3.astype(str)) # 新增加的列 引用已经存在的多个列(包含过程中创建的列)

,dept,dept 1,name,销售额,时间,new,new_1,新_3,新_4,新_5
0,部门1,小部门1,何淑英,NaN,2020-01-01,NaN,2020-01-01,NaN,部门1小部门1,部门1小部门1nan
1,部门1,小部门1,廖兰英,24764.0,2020-01-02,49528.0,2020-01-02,59528.0,部门1小部门1,部门1小部门159528.0
2,部门1,小部门2,吴云,60161.0,2020-01-03,120322.0,2020-01-03,130322.0,部门1小部门2,部门1小部门2130322.0
3,部门1,小部门2,梁玉梅,2366.0,2020-01-04,4732.0,2020-01-04,14732.0,部门1小部门2,部门1小部门214732.0
4,部门1,小部门2,张伟,2584.0,2020-01-05,5168.0,2020-01-05,15168.0,部门1小部门2,部门1小部门215168.0
5,部门2,小部门3,张敏,24764.0,2020-01-06,49528.0,2020-01-06,59528.0,部门2小部门3,部门2小部门359528.0
6,部门2,小部门4,陈琳,50445.0,2020-01-07,100890.0,2020-01-07,110890.0,部门2小部门4,部门2小部门4110890.0
7,部门2,小部门4,华晶,67482.0,2020-01-08,134964.0,2020-01-08,144964.0,部门2小部门4,部门2小部门4144964.0
8,部门2,小部门4,王璐,16523.0,2020-01-09,33046.0,2020-01-09,43046.0,部门2小部门4,部门2小部门443046.0
9,部门2,小部门4,宗秀珍,33419.0,2020-01-10,66838.0,2020-01-10,76838.0,部门2小部门4,部门2小部门476838.0

In [7]:
df.assign(new=df.销售额*2,
         new_1 =df.时间,
         新_3=lambda x:x.new+10000,
         新_4=lambda x:x.dept+x['dept 1']) # 新增加的列 引用已经存在的多个列

  dept dept 1 name      销售额         时间       new      new_1       新_3      新_4
0  部门1   小部门1  何淑英      NaN 2020-01-01       NaN 2020-01-01       NaN  部门1小部门1
1  部门1   小部门1  廖兰英  24764.0 2020-01-02   49528.0 2020-01-02   59528.0  部门1小部门1
2  部门1   小部门2   吴云  60161.0 2020-01-03  120322.0 2020-01-03  130322.0  部门1小部门2
3  部门1   小部门2  梁玉梅   2366.0 2020-01-04    4732.0 2020-01-04   14732.0  部门1小部门2
4  部门1   小部门2   张伟   2584.0 2020-01-05    5168.0 2020-01-05   15168.0  部门1小部门2
5  部门2   小部门3   张敏  24764.0 2020-01-06   49528.0 2020-01-06   59528.0  部门2小部门3
6  部门2   小部门4   陈琳  50445.0 2020-01-07  100890.0 2020-01-07  110890.0  部门2小部门4
7  部门2   小部门4   华晶  67482.0 2020-01-08  134964.0 2020-01-08  144964.0  部门2小部门4
8  部门2   小部门4   王璐  16523.0 2020-01-09   33046.0 2020-01-09   43046.0  部门2小部门4
9  部门2   小部门4  宗秀珍  33419.0 2020-01-10   66838.0 2020-01-10   76838.0  部门2小部门4

In [6]:
df.assign(new=df.销售额*2,
         new_1 =df.时间,
         新_3=lambda x:x.new+10000) # 新增加的列 可以引用前面的列 new

  dept dept 1 name      销售额         时间       new      new_1       新_3
0  部门1   小部门1  何淑英      NaN 2020-01-01       NaN 2020-01-01       NaN
1  部门1   小部门1  廖兰英  24764.0 2020-01-02   49528.0 2020-01-02   59528.0
2  部门1   小部门2   吴云  60161.0 2020-01-03  120322.0 2020-01-03  130322.0
3  部门1   小部门2  梁玉梅   2366.0 2020-01-04    4732.0 2020-01-04   14732.0
4  部门1   小部门2   张伟   2584.0 2020-01-05    5168.0 2020-01-05   15168.0
5  部门2   小部门3   张敏  24764.0 2020-01-06   49528.0 2020-01-06   59528.0
6  部门2   小部门4   陈琳  50445.0 2020-01-07  100890.0 2020-01-07  110890.0
7  部门2   小部门4   华晶  67482.0 2020-01-08  134964.0 2020-01-08  144964.0
8  部门2   小部门4   王璐  16523.0 2020-01-09   33046.0 2020-01-09   43046.0
9  部门2   小部门4  宗秀珍  33419.0 2020-01-10   66838.0 2020-01-10   76838.0

In [5]:
df.assign(new=df.销售额*2,
         new_1 =df.时间) # 增加多列

  dept dept 1 name      销售额         时间       new      new_1
0  部门1   小部门1  何淑英      NaN 2020-01-01       NaN 2020-01-01
1  部门1   小部门1  廖兰英  24764.0 2020-01-02   49528.0 2020-01-02
2  部门1   小部门2   吴云  60161.0 2020-01-03  120322.0 2020-01-03
3  部门1   小部门2  梁玉梅   2366.0 2020-01-04    4732.0 2020-01-04
4  部门1   小部门2   张伟   2584.0 2020-01-05    5168.0 2020-01-05
5  部门2   小部门3   张敏  24764.0 2020-01-06   49528.0 2020-01-06
6  部门2   小部门4   陈琳  50445.0 2020-01-07  100890.0 2020-01-07
7  部门2   小部门4   华晶  67482.0 2020-01-08  134964.0 2020-01-08
8  部门2   小部门4   王璐  16523.0 2020-01-09   33046.0 2020-01-09
9  部门2   小部门4  宗秀珍  33419.0 2020-01-10   66838.0 2020-01-10

In [4]:
df.assign(new=df.销售额*2) # 简单增加一个新列

  dept dept 1 name      销售额         时间       new
0  部门1   小部门1  何淑英      NaN 2020-01-01       NaN
1  部门1   小部门1  廖兰英  24764.0 2020-01-02   49528.0
2  部门1   小部门2   吴云  60161.0 2020-01-03  120322.0
3  部门1   小部门2  梁玉梅   2366.0 2020-01-04    4732.0
4  部门1   小部门2   张伟   2584.0 2020-01-05    5168.0
5  部门2   小部门3   张敏  24764.0 2020-01-06   49528.0
6  部门2   小部门4   陈琳  50445.0 2020-01-07  100890.0
7  部门2   小部门4   华晶  67482.0 2020-01-08  134964.0
8  部门2   小部门4   王璐  16523.0 2020-01-09   33046.0
9  部门2   小部门4  宗秀珍  33419.0 2020-01-10   66838.0