## 147 表格视觉样式设置

### 表格视觉样式设置。目前不能保证设置的样式都能完整不变的输出保存到Excel
##### format 
##### hide_columns hide_index hide_columns_ hide_index_（pandas1.3支持）
更多使用请参考官方文档

In [5]:

import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)
df.iloc[1,1]=np.nan #  修改成nan

In [11]:
df

  dept dept 1 name    销售额         时间
0  部门1   小部门1  梁玉华  81645 2020-01-01
1  部门1    NaN   唐龙  58488 2020-01-02
2  部门1   小部门2  周淑华   1355 2020-01-03
3  部门1   小部门2  刘冬梅  90367 2020-01-04
4  部门1   小部门2   陈利  69655 2020-01-05
5  部门2   小部门3  田冬梅  66316 2020-01-06
6  部门2   小部门4   张浩  19369 2020-01-07
7  部门2   小部门4   谢荣   7776 2020-01-08
8  部门2   小部门4   熊慧  60963 2020-01-09
9  部门2   小部门4   陈超   5881 2020-01-10

In [ ]:
df.style.format( # 每列指定格式化输出的样式，lambda 函数
formatter={
    '销售额':lambda x:'{:.2f}'.format(x)
}
)

In [25]:
df.style.format( # 每列指定格式化输出的样式，lambda 函数
formatter={
    '销售额':lambda x:'￥{:,.2f}'.format(x)
}
)

In [23]:
df.style.format( # 每列指定格式化输出的样式，lambda 函数
formatter={
    '销售额':lambda x:'{:,.2f}'.format(x)
}
)

In [20]:
df.style.format(
formatter={
    '销售额':'{:.2f}'
}
)

In [13]:
df.style.hide_index_ # 属性。是否隐藏索引

False

In [16]:
df.style.hide_index([0,3]) # 隐藏指定的索引行

In [14]:
df.style.hide_index() # 隐藏索引

In [12]:
df.style.hide_columns_ # 属性。是否隐藏列

False

In [10]:
df.style.hide_columns(subset=['dept','name']) # 隐藏列

In [7]:
df.style.hide_columns()