##  pandas数据抽样

### 数据抽样
#### sample

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['姓名'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['工龄']=np.random.randint(1,10,size=(10, 1))
df.insert(0,'部门',['部门1']*5+['部门2']*5)
df['绩效系数']=np.random.randint(7,10,size=(10, 1))/10
df['补贴']=np.random.randint(10,1000,size=(10, 1))
df['请假扣除']=np.random.randint(0,1000,size=(10, 1))

In [3]:
df # 随机生成的数据

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除
0  部门1   徐明  45705   6   0.7  989   943
1  部门1  姜志强  83827   6   0.9  130   389
2  部门1  陈秀荣  21326   7   0.9  457   343
3  部门1   黄雪  41242   2   0.7  137   717
4  部门1   张佳  88776   8   0.8  700   620
5  部门2   魏萍  43868   9   0.9  916   994
6  部门2   陈超  21275   9   0.8  240   885
7  部门2   李宁  90024   1   0.9  101    88
8  部门2   梁坤  23876   3   0.7   24   594
9  部门2   张荣  66521   7   0.8  191   208

In [11]:
df.sample(n=3) # 随机抽取一条（默认）。通过n 指定抽取条数

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除
4  部门1  张佳  88776   8   0.8  700   620
3  部门1  黄雪  41242   2   0.7  137   717
8  部门2  梁坤  23876   3   0.7   24   594

In [14]:
df.sample(frac=.5) # 按照比例抽取

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除
6  部门2   陈超  21275   9   0.8  240   885
8  部门2   梁坤  23876   3   0.7   24   594
0  部门1   徐明  45705   6   0.7  989   943
1  部门1  姜志强  83827   6   0.9  130   389
5  部门2   魏萍  43868   9   0.9  916   994

In [16]:
df.groupby('部门').sample() # 分组随机抽样

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除
0  部门1  徐明  45705   6   0.7  989   943
9  部门2  张荣  66521   7   0.8  191   208

In [19]:
df.groupby('部门').sample(n=2) # 分组随机抽样

    部门  姓名    销售额  工龄  绩效系数   补贴  请假扣除
4  部门1  张佳  88776   8   0.8  700   620
0  部门1  徐明  45705   6   0.7  989   943
8  部门2  梁坤  23876   3   0.7   24   594
5  部门2  魏萍  43868   9   0.9  916   994

In [23]:
df.groupby('部门').sample(frac=0.6) # 分组随机抽样

    部门   姓名    销售额  工龄  绩效系数   补贴  请假扣除
2  部门1  陈秀荣  21326   7   0.9  457   343
0  部门1   徐明  45705   6   0.7  989   943
1  部门1  姜志强  83827   6   0.9  130   389
6  部门2   陈超  21275   9   0.8  240   885
8  部门2   梁坤  23876   3   0.7   24   594
9  部门2   张荣  66521   7   0.8  191   208