##  pandas表格合并

### 表格合并进阶
#### join merge concat

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

In [2]:
df['销售额']=np.random.randint(100,100000,size=(10, 1))

In [3]:
df.insert(0,'dept',['部门1']*5+['部门2']*5)

In [4]:
df # 随机生成的数据

  dept name    销售额
0  部门1   方龙  46962
1  部门1   黄波  25920
2  部门1   萧鑫  39014
3  部门1   李玲  62681
4  部门1  曾桂兰  24829
5  部门2   李欣  81027
6  部门2  韦建华  33966
7  部门2  林冬梅  71795
8  部门2   张雪  31027
9  部门2   谭璐  51671

In [5]:
df1=df[['dept','name']]
df1['绩效系数']=np.random.randint(100,100000,size=(10, 1))

In [6]:
df1  # 随机生成的数据

  dept name   绩效系数
0  部门1   方龙  50161
1  部门1   黄波  12488
2  部门1   萧鑫  29692
3  部门1   李玲  63688
4  部门1  曾桂兰  77078
5  部门2   李欣  66882
6  部门2  韦建华   7653
7  部门2  林冬梅  23017
8  部门2   张雪  74228
9  部门2   谭璐  61021

In [8]:
df.set_index('dept').join(df1.set_index('dept'),lsuffix='_l') # 设置index后进行并表

     name_l    销售额 name   绩效系数
dept
部门1      方龙  46962   方龙  50161
部门1      方龙  46962   黄波  12488
部门1      方龙  46962   萧鑫  29692
部门1      方龙  46962   李玲  63688
部门1      方龙  46962  曾桂兰  77078
部门1      黄波  25920   方龙  50161
部门1      黄波  25920   黄波  12488
部门1      黄波  25920   萧鑫  29692
部门1      黄波  25920   李玲  63688
部门1      黄波  25920  曾桂兰  77078
部门1      萧鑫  39014   方龙  50161
部门1      萧鑫  39014   黄波  12488
部门1      萧鑫  39014   萧鑫  29692
部门1      萧鑫  39014   李玲  63688
部门1      萧鑫  39014  曾桂兰  77078
部门1      李玲  62681   方龙  50161
部门1      李玲  62681   黄波  12488
部门1      李玲  62681   萧鑫  29692
部门1      李玲  62681   李玲  63688
部门1      李玲  62681  曾桂兰  77078
部门1     曾桂兰  24829   方龙  50161
部门1     曾桂兰  24829   黄波  12488
部门1     曾桂兰  24829   萧鑫  29692
部门1     曾桂兰  24829   李玲  63688
部门1     曾桂兰  24829  曾桂兰  77078
部门2      李欣  81027   李欣  66882
部门2      李欣  81027  韦建华   7653
部门2      李欣  81027  林冬梅  23017
部门2      李欣  81027   张雪  74228
部门2      李欣  81027   谭璐  61021
部门2     韦建华  33966   李欣  66882
部门2     韦建华  33966  韦建华   7653
部门2     韦建华  33966  林冬梅  23017
部门2     韦建华  33966   张雪  74228
部门2     韦建华  33966   谭璐  61021
部门2     林冬梅  71795   李欣  66882
部门2     林冬梅  71795  韦建华   7653
部门2     林冬梅  71795  林冬梅  23017
部门2     林冬梅  71795   张雪  74228
部门2     林冬梅  71795   谭璐  61021
部门2      张雪  31027   李欣  66882
部门2      张雪  31027  韦建华   7653
部门2      张雪  31027  林冬梅  23017
部门2      张雪  31027   张雪  74228
部门2      张雪  31027   谭璐  61021
部门2      谭璐  51671   李欣  66882
部门2      谭璐  51671  韦建华   7653
部门2      谭璐  51671  林冬梅  23017
部门2      谭璐  51671   张雪  74228
部门2      谭璐  51671   谭璐  61021

In [10]:
df.set_index(['dept','name']).join(df1.set_index(['dept','name'])) # 设置双列index后进行并表，这时候没有上述例子的重复现象

             销售额   绩效系数
dept name
部门1  方龙    46962  50161
     黄波    25920  12488
     萧鑫    39014  29692
     李玲    62681  63688
     曾桂兰   24829  77078
部门2  李欣    81027  66882
     韦建华   33966   7653
     林冬梅   71795  23017
     张雪    31027  74228
     谭璐    51671  61021

In [25]:
pd.concat([df.set_index('dept'),df1.set_index('dept')]) # 设置index后合并表格。concat支持重复列名

     name      销售额     绩效系数
dept
部门1    方龙  46962.0      NaN
部门1    黄波  25920.0      NaN
部门1    萧鑫  39014.0      NaN
部门1    李玲  62681.0      NaN
部门1   曾桂兰  24829.0      NaN
部门2    李欣  81027.0      NaN
部门2   韦建华  33966.0      NaN
部门2   林冬梅  71795.0      NaN
部门2    张雪  31027.0      NaN
部门2    谭璐  51671.0      NaN
部门1    方龙      NaN  50161.0
部门1    黄波      NaN  12488.0
部门1    萧鑫      NaN  29692.0
部门1    李玲      NaN  63688.0
部门1   曾桂兰      NaN  77078.0
部门2    李欣      NaN  66882.0
部门2   韦建华      NaN   7653.0
部门2   林冬梅      NaN  23017.0
部门2    张雪      NaN  74228.0
部门2    谭璐      NaN  61021.0

In [22]:
df.merge(df1,how='left',on=['dept']) #合并表格。dept为条件关联列

   dept name_x    销售额 name_y   绩效系数
0   部门1     方龙  46962     方龙  50161
1   部门1     方龙  46962     黄波  12488
2   部门1     方龙  46962     萧鑫  29692
3   部门1     方龙  46962     李玲  63688
4   部门1     方龙  46962    曾桂兰  77078
5   部门1     黄波  25920     方龙  50161
6   部门1     黄波  25920     黄波  12488
7   部门1     黄波  25920     萧鑫  29692
8   部门1     黄波  25920     李玲  63688
9   部门1     黄波  25920    曾桂兰  77078
10  部门1     萧鑫  39014     方龙  50161
11  部门1     萧鑫  39014     黄波  12488
12  部门1     萧鑫  39014     萧鑫  29692
13  部门1     萧鑫  39014     李玲  63688
14  部门1     萧鑫  39014    曾桂兰  77078
15  部门1     李玲  62681     方龙  50161
16  部门1     李玲  62681     黄波  12488
17  部门1     李玲  62681     萧鑫  29692
18  部门1     李玲  62681     李玲  63688
19  部门1     李玲  62681    曾桂兰  77078
20  部门1    曾桂兰  24829     方龙  50161
21  部门1    曾桂兰  24829     黄波  12488
22  部门1    曾桂兰  24829     萧鑫  29692
23  部门1    曾桂兰  24829     李玲  63688
24  部门1    曾桂兰  24829    曾桂兰  77078
25  部门2     李欣  81027     李欣  66882
26  部门2     李欣  81027    韦建华   7653
27  部门2     李欣  81027    林冬梅  23017
28  部门2     李欣  81027     张雪  74228
29  部门2     李欣  81027     谭璐  61021
30  部门2    韦建华  33966     李欣  66882
31  部门2    韦建华  33966    韦建华   7653
32  部门2    韦建华  33966    林冬梅  23017
33  部门2    韦建华  33966     张雪  74228
34  部门2    韦建华  33966     谭璐  61021
35  部门2    林冬梅  71795     李欣  66882
36  部门2    林冬梅  71795    韦建华   7653
37  部门2    林冬梅  71795    林冬梅  23017
38  部门2    林冬梅  71795     张雪  74228
39  部门2    林冬梅  71795     谭璐  61021
40  部门2     张雪  31027     李欣  66882
41  部门2     张雪  31027    韦建华   7653
42  部门2     张雪  31027    林冬梅  23017
43  部门2     张雪  31027     张雪  74228
44  部门2     张雪  31027     谭璐  61021
45  部门2     谭璐  51671     李欣  66882
46  部门2     谭璐  51671    韦建华   7653
47  部门2     谭璐  51671    林冬梅  23017
48  部门2     谭璐  51671     张雪  74228
49  部门2     谭璐  51671     谭璐  61021

In [14]:
df.merge(df1,how='left',on=['dept','name']) #合并表格。dept,name为条件关联列

  dept name    销售额   绩效系数
0  部门1   方龙  46962  50161
1  部门1   黄波  25920  12488
2  部门1   萧鑫  39014  29692
3  部门1   李玲  62681  63688
4  部门1  曾桂兰  24829  77078
5  部门2   李欣  81027  66882
6  部门2  韦建华  33966   7653
7  部门2  林冬梅  71795  23017
8  部门2   张雪  31027  74228
9  部门2   谭璐  51671  61021

In [17]:
df2=df1.rename({'name':'name1'},axis=1)

In [18]:
df2

  dept name1   绩效系数
0  部门1    方龙  50161
1  部门1    黄波  12488
2  部门1    萧鑫  29692
3  部门1    李玲  63688
4  部门1   曾桂兰  77078
5  部门2    李欣  66882
6  部门2   韦建华   7653
7  部门2   林冬梅  23017
8  部门2    张雪  74228
9  部门2    谭璐  61021

In [20]:
df.merge(df2,how='left',left_on=['dept','name'],right_on=['dept','name1']) #合并表格。当两边的关联列名不同时

  dept name    销售额 name1   绩效系数
0  部门1   方龙  46962    方龙  50161
1  部门1   黄波  25920    黄波  12488
2  部门1   萧鑫  39014    萧鑫  29692
3  部门1   李玲  62681    李玲  63688
4  部门1  曾桂兰  24829   曾桂兰  77078
5  部门2   李欣  81027    李欣  66882
6  部门2  韦建华  33966   韦建华   7653
7  部门2  林冬梅  71795   林冬梅  23017
8  部门2   张雪  31027    张雪  74228
9  部门2   谭璐  51671    谭璐  61021