## 78 pandas排序

### sort_values  sort_index
参数 by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None

In [1]:
import numpy  as np
import pandas as pd
from faker import Faker

fake = Faker('zh_CN')
df=pd.DataFrame(data=[ [fake.name()] for x in range(10) ],columns=['name'])

df['销售额']=np.random.randint(100,100000,size=(10, 1))
df['时间']=pd.date_range(start='2020-01-01',periods=10,freq='D')
df.insert(0,'dept',['部门1']*5+['部门2']*5)
df.insert(1,'dept 1',['小部门1']*2+['小部门2']*3+['小部门3']*1+['小部门4']*4)

### 演示数据

In [22]:
df # 随机生成的数据

  dept dept 1 name    销售额         时间
1  部门1    NaN  朱凤兰  21755 2020-01-02
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01

In [6]:
df.iloc[1,1]=np.nan #  修改成nan

In [27]:
df.set_index('时间').sort_index(ascending=False) # 按照索引排序

           dept dept 1 name    销售额
时间
2020-01-10  部门2   小部门4  张秀云  42379
2020-01-09  部门2   小部门4  喻冬梅  82760
2020-01-08  部门2   小部门4   韩凯   6781
2020-01-07  部门2   小部门4   李琳  40300
2020-01-06  部门2   小部门3  房红梅  52770
2020-01-05  部门1   小部门2   黄梅  64870
2020-01-04  部门1   小部门2  贾兰英  14681
2020-01-03  部门1   小部门2   汪涛  89086
2020-01-02  部门1    NaN  朱凤兰  21755
2020-01-01  部门1   小部门1   易林  41352

In [24]:
df.dept.sort_values(ascending=False) # 也可以用于序列（列）

6    部门2
7    部门2
8    部门2
9    部门2
5    部门2
1    部门1
2    部门1
3    部门1
4    部门1
0    部门1
Name: dept, dtype: object

In [30]:
df.sort_values(by=['dept 1'],ascending=[False],na_position='first',key= lambda x: x.str[-1],inplace=True) # inplace 参数 直接替换df而非返回修改后的副本

In [19]:
df.sort_values(by=['dept 1'],ascending=[False],na_position='first',key= lambda x: x.str[-1]) # key 参数 自定义函数处理后再排序

  dept dept 1 name    销售额         时间
1  部门1    NaN  朱凤兰  21755 2020-01-02
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01

In [14]:
df.sort_values(by=['dept 1'],ascending=[False],na_position='first',kind='quciksort') # kind 参数 负责 排序方法。此处不多讲

  dept dept 1 name    销售额         时间
1  部门1    NaN  朱凤兰  21755 2020-01-02
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01

In [13]:
df.sort_values(by=['dept 1'],ascending=[False],na_position='first',ignore_index=1) # ignore_index 参数 负责 索引是否重新排列（自然数顺序）

  dept dept 1 name    销售额         时间
0  部门1    NaN  朱凤兰  21755 2020-01-02
1  部门2   小部门4   李琳  40300 2020-01-07
2  部门2   小部门4   韩凯   6781 2020-01-08
3  部门2   小部门4  喻冬梅  82760 2020-01-09
4  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
6  部门1   小部门2   汪涛  89086 2020-01-03
7  部门1   小部门2  贾兰英  14681 2020-01-04
8  部门1   小部门2   黄梅  64870 2020-01-05
9  部门1   小部门1   易林  41352 2020-01-01

In [11]:
df.sort_values(by=['dept 1'],ascending=[False],na_position='first') # na_position, nan默认排在尾部； first 拍首位。注意区别

  dept dept 1 name    销售额         时间
1  部门1    NaN  朱凤兰  21755 2020-01-02
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01

In [10]:
df.sort_values(by=['dept','dept 1'],ascending=[False,False],na_position='first') # na_position, nan默认排在尾部； first 拍首位

  dept dept 1 name    销售额         时间
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
1  部门1    NaN  朱凤兰  21755 2020-01-02
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01

In [5]:
df.sort_values(by=['dept','dept 1'],ascending=[False,False]) # 按照dept 列 排序，ascending=False逆序。多列排序

  dept dept 1 name    销售额         时间
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
5  部门2   小部门3  房红梅  52770 2020-01-06
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05
0  部门1   小部门1   易林  41352 2020-01-01
1  部门1   小部门1  朱凤兰  21755 2020-01-02

In [4]:
df.sort_values(by='dept',ascending=False) # 按照dept 列 排序，ascending=False逆序

  dept dept 1 name    销售额         时间
5  部门2   小部门3  房红梅  52770 2020-01-06
6  部门2   小部门4   李琳  40300 2020-01-07
7  部门2   小部门4   韩凯   6781 2020-01-08
8  部门2   小部门4  喻冬梅  82760 2020-01-09
9  部门2   小部门4  张秀云  42379 2020-01-10
0  部门1   小部门1   易林  41352 2020-01-01
1  部门1   小部门1  朱凤兰  21755 2020-01-02
2  部门1   小部门2   汪涛  89086 2020-01-03
3  部门1   小部门2  贾兰英  14681 2020-01-04
4  部门1   小部门2   黄梅  64870 2020-01-05